<h1>パスワード再設定</h1>

<%= form_tag set_new_password_path(@user.secret_token), class: 'form-horizontal' do %>
  <fieldset>
    <div class="control-group">
      <%= label_tag :password, '新しいパスワード', class: 'control-label' %>
      <div class="controls">
        <%= password_field_tag :password %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag :password_confirmation, '新しいパスワード(確認)', class: 'control-label' %>
      <div class="controls">
        <%= password_field_tag :password_confirmation %>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag '送信', class: 'btn btn-primary', disable_with: '送信中...' %>
    </div>
  </fieldset>
<% end %>
