<div class="row">
  <div class="span12">
    <div style="float: left;width: 240px;">
      <h1>What's new?</h1>
    </div>
    <div style="float: left;width: 400px;margin: 20px;">
      2013/04/01 装い新たに再出発！
    </div>
  </div>
</div>

<div class="row">

  <div class="span6">
    <h2><%= link_to image_tag('study.gif', style: 'margin-right: 15px;') + "Study", study_path, style: 'color: #333;' %></h2>
    <dl>
      <% Material.all.order('updated_at DESC').limit(10).each do |m| %>
        <dt><%= m.updated_at.to_datetime %></dt>
        <dd>
          <%= m.user.handle_name %>さんが<%= m.subject.title_ja %>
          <%= m.material_type_to_str %>を<%= m.created_at == m.updated_at ? 'up' : '更新' %> <br>
          <%= link_to m.display_name, download_study_subject_material_path(m.subject, m) %>
        </dd>
      <% end %>
    </dl>
  </div>

  <div class="span6">
  </div>

</div>

<% @is_index_page = true %>
