<div class="row">
  <div class="span12">
    <div style="float: left;width: 240px;">
      <h1>What's new?</h1>
    </div>
    <div style="float: left;width: 400px;margin: 20px;">
      2013/04/01 装い新たに再出発！
    </div>
  </div>
</div>

<div class="row">

  <div class="span6">
    <h2><%= link_to image_tag('study.gif', style: 'margin-right: 15px;') + "Study", study_path, style: 'color: #333;' %></h2>
    <dl>
      <% @new_materials.each do |m| %>
        <dt><%= m.updated_at.to_datetime %></dt>
        <dd>
          <%= m.user.handle_name %>さんが<%= m.subject.title_ja %>
          <%= m.material_type_to_str %>を<%= m.created_at == m.updated_at ? 'up' : '更新' %> <br>
          <%= link_to m.display_name, download_study_subject_material_path(m.subject, m) %>
        </dd>
      <% end %>
    </dl>
  </div>

  <div class="span6">
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=1&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=hokui93.net%40gmail.com&amp;color=%23B1440E&amp;ctz=Asia%2FTokyo" style=" border-width:0 " width="570" height="435" frameborder="0" scrolling="no"></iframe>
    <h2><%= link_to 'freeML', freeml_path, style: 'color: #333;' %></h2>
    <dl>
      <% @freeml_entries.each do |entry| %>
        <dt><%= entry.sent_at %></dt>
        <dd>
          <%= entry.sender_name %>さんが新しいメールを投稿<br>
          title: <%= entry.title %>
        </dd>
      <% end %>
  </div>

</div>

<% @is_index_page = true %>
