<h1><%= @year.class_year %>期</h1>

<%= form_for @year, url: admin_year_path(@year), html: { class: "form-horizontal" } do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :freeml_account, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :freeml_account %>
        ※MLアドレスの@freeml.comの前
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit '登録', class: 'btn btn-primary', data: { disable_with: '送信中...' } %>
    </div>
  </fieldset>
<% end %>
