<h1>メーリングリストアーカイブ</h1>
<p>
  最新の投稿は10分ごとに更新されます。
</p>

<%= paginate @ml_archives %>

<table class="table">
  <tr>
    <th>投稿者</th>
    <th>日時</th>
    <th>件名</th>
    <th>本文</th>
    <th></th>
  </tr>
  <% @ml_archives.each do |a| %>
    <tr>
      <td><%= a.from %></td>
      <td><%= a.sent_at %></td>
      <td><%= a.subject %></td>
      <td><%= truncate(a.body) %></td>
      <td><button type="button" class="btn btn-mini download-ml-body" data-download-body-path="<%= ml_download_path(a) %>">全文</button></td>
    </tr>
  <% end %>
</table>

<%= paginate @ml_archives %>

<% @is_ml_page = true %>
<% @title = 'Mailing List' %>

<div id="ml-modal" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="ml-modal-title"></h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>

<script>
  $('.download-ml-body').click(function(){
    $.ajax({
      url: $(this).attr('data-download-body-path'),
      type: 'GET',
      scriptCharset: 'utf-8',
      dataType: 'json',
      success: function(res){
        $modal = $('#ml-modal');
        $modal.find('#ml-modal-title').text(res.title);
        $modal.find('.modal-body').html(res.body);
        $modal.modal('show');
      },
      error: function(){ console.log('transmission error'); }
    });
  });
</script>
