<h1><%= @subject.title_ja %></h1>

<ul class="nav nav-tabs">
  <li class="active"><%= link_to '過去問', exams_study_subject_materials_path(@subject) %></li>
  <li><%= link_to '小テスト', quizzes_study_subject_materials_path(@subject) %></li>
  <li><%= link_to '講義資料', notes_study_subject_materials_path(@subject) %></li>
  <li><%= link_to '個人作成資料', personal_files_study_subject_materials_path(@subject) %></li>
</ul>

<p>
  <%= link_to '新規アップロード', new_study_subject_material_path(@subject, type: :exam) %>
</p>

<table class="table">
  <tr>
    <th>期</th>
    <th>回</th>
    <th colspan="3">問題</th>
    <th colspan="3">解答</th>
  </tr>

  <% @exams.pluck(:class_year).uniq.sort.each do |year| %>

    <% year_displayed = false %>
    <% year_exams = @exams.where(class_year: year) %>
    <% year_exams.pluck(:number).uniq.sort.each do |number| %>

      <% number_displayed = false %>
      <% exams = year_exams.where(number: number) %>
      <% number_str = exams.first.number_to_str %>
      <% questions = exams.where(with_answer: false) %>
      <% answers = exams.where(with_answer: true) %>
      <% [questions.size, answers.size].max.times do |i| %>

        <tr>
          <td><%= year_displayed ? '' : year %></td>
          <% year_displayed = true %>
          <td><%= number_displayed ? '' : number_str %></td>
          <% number_displayed = true %>

          <% if questions[i] %>
            <% material = questions[i] %>
            <td><%= link_to material.display_name, download_study_subject_material_path(@subject, material) %><br><%= material.comments %></td>
            <td><%= material.user.handle_name %><br><%= material.download_count %> 回</td>
            <td>
              <%= link_to '修正', edit_study_subject_material_path(@subject, material), class: 'btn btn-mini btn-info' %><br>
              <%= link_to '削除', study_subject_material_path(@subject, material), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "#{material.display_name} を削除します。本当によろしいですか？" } %>
            </td>
          <% else %>
            <td></td><td></td><td></td>
          <% end %>

          <% if answers[i] %>
            <% material = answers[i] %>
            <td><%= link_to material.display_name, download_study_subject_material_path(@subject, material) %><br><%= material.comments %></td>
            <td><%= material.user.handle_name %><br><%= material.download_count %> 回</td>
            <td>
              <%= link_to '修正', edit_study_subject_material_path(@subject, material), class: 'btn btn-mini btn-info' %><br>
              <%= link_to '削除', study_subject_material_path(@subject, material), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "#{material.display_name} を削除します。本当によろしいですか？" } %>
            </td>
          <% else %>
            <td></td><td></td><td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<% @title = "過去問 - #{@subject.title_ja}" %>
