<h1><%= @subject.title_ja %></h1>

<ul class="nav nav-tabs">
  <li><%= link_to '過去問', exams_study_subject_materials_path(@subject) %></li>
  <li><%= link_to '小テスト', quizzes_study_subject_materials_path(@subject) %></li>
  <li><%= link_to '講義資料', notes_study_subject_materials_path(@subject) %></li>
  <li class="active"><%= link_to '個人作成資料', personal_files_study_subject_materials_path(@subject) %></li>
</ul>

<p>
  <%= link_to '新規アップロード', new_study_subject_material_path(@subject, type: :personal_file) %>
</p>

<table class="table">
  <tr>
    <th colspan="3">資料</th>
  </tr>

  <% @personal_files.each do |material| %>
    <tr>
      <td><%= link_to material.display_name, download_study_subject_material_path(@subject, material) %><br><%= material.comments %></td>
      <td><%= material.user.handle_name %><br><%= material.download_count %> 回</td>
      <td>
        <%= link_to '修正', edit_study_subject_material_path(@subject, material), class: 'btn btn-mini btn-info' %><br>
        <%= link_to '削除', study_subject_material_path(@subject, material), method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "#{material.display_name} を削除します。本当によろしいですか？" } %>
      </td>
    </tr>
  <% end %>
</table>

<% @title = "個人作成資料 - #{@subject.title_ja}" %>
