<h1><%= @subject.title_ja %></h1>

<%= link_to '過去問', exams_study_subject_materials_path(@subject) %>
<%= link_to '小テスト', quizzes_study_subject_materials_path(@subject) %>
<%= link_to '講義資料', notes_study_subject_materials_path(@subject) %>
<%= link_to '個人作成資料', personal_files_study_subject_materials_path(@subject) %>
